<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :problem %>
    <%= form.text_field :problem %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :refs %>
    <%= form.text_field :refs %>
  </div>

  <div class="field">
    <%= form.label :fixed %>
    <%= form.text_field :fixed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
